* {
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    margin: auto;
    position: relative;
    height: inherit;

}

@media (max-width: 1199px) {
    .container {
        max-width: 950px;
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 770px;
    }
}


@media (max-width: 768px) {
    .container {
        max-width: 100%;
        padding: 0 30px;
    }

    div.mail,
    div.insta,
    div.telefon {
        display: none;
    }

    .citat p {
        color: #ffffff;
    }




    div.hero {
        background-size: cover;
    }

}

@media (max-width: 500px) {
    div.nav {
        height: 600px;
    }

    div.nav .nav__wrap {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        //align-items: center;
        height: 400px;
        width: 300px;

    }

    a.nav__link {
        letter-spacing: 0.1em;margin-top: 25px;
    }


    p.citat__two {
        display: none;
    }

}


@media (max-width: 330px) {

    div.menu {
        width: 60px;
        height: 60px;
        margin-top: 5px;

        &__myspan,
        &__myspan::after,
        &__myspan::before {
            width: 20px;
        }
    }

    .logo .logo__image {
        width: 150px;
        height: 90px;
    }
    div.header{
        height: 70px;
    }
    div.head{
        height: 70px;
    }
    div.nav {
        margin-top: -20px;
    }


}